@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet');

/* Asterix wildcard selector to override default styles added bu the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general style */
body {
    font-family: creepster, sans-serif;
    background: url('../images/8ball-background.jpg');
}

/* header */
header {
    color: silver;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    letter-spacing: 3px;
    flex-shrink: 1;
    flex-grow: 1;
}

i {
    color: white;
}

/* body */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

button {
    padding: 1.5rem;
    font-size: 1.5rem;
    font-family: creepster, sans-serif;
    letter-spacing: 3px;
    background-color: orange;
    color: green;
    border-radius: 5%;
}

#ball {
    margin-top: 2rem;
    height: 18rem;
    width: 18rem;
    background-color: black;
    border-radius: 50%;
    position: relative;
}

#window {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 6rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    inset: 0;
    margin: auto;
    font-size: x-large;
}
    
/* media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    #ball {
        height: 25rem;
        width: 25rem;
    }

    #window {
        height: 8rem;
        width: 8rem;
    }
}